version: "3.8"

services:
  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    volumes:
      # Монтируем HTML файлы для live reload
      - ./nginx/www:/usr/share/nginx/html:ro
      # Монтируем конфиги для live reload
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/captcha-check.js:/etc/nginx/http.js:ro
